name: Test and Build docker image

on:
    push: 
        branches: [ "main" ]
    pull_request:
        branches: [ "main" ]

jobs:
    test: 
        runs-on: ubuntu-latest

        steps:
            - name: checkout repo
              uses: actions/checkout@v4

            - name: Install docker
              run: |
                sudo apt update
                sudo apt install -y docker.io
                docker --version
            
            - name: Build a docker image
              run: |
                docker build --no-cache -t testapp:latest .
                docker images






